/*.[cioh]
/*.sym
/ocat
/ocat.exe
/showdef
/showdef.exe
/voc
/voc.exe
/voc.par
/*.sublime-*
/vocparam.exe
/src/voc/prf.Mod.tmp
/olang/BasicTypeParameters
/olang/Make.Include
/olang/Configuration.Mod
/olang/build*
/olang/*.exe
/olang/*.lib
/olang/*.map
/olang/olang
/olang/bin/*.bak
/olang/test/**/*.exe
/olang/test/**/*.c
/olang/test/**/*.h
/olang/test/**/*.o
/olang/test/**/*.obj
/olang/test/**/*.sym
/olang/test/**/*.stackdump
/.DS_store
**/.DS_store
**/*.dSYM
