/*.[cioh]
/*.sym
/ocat
/ocat.exe
/showdef
/showdef.exe
/voc
/voc.exe
/voc.par
/*.sublime-*
/vocparam.exe
/src/voc/prf.Mod.tmp
/BasicTypeParameters
/Make.Include
/Configuration.Mod
/build*
/*.exe
/*.lib
/*.map
/olang
/bin/*.bak
/test/**/*.exe
/test/**/*.c
/test/**/*.h
/test/**/*.o
/test/**/*.obj
/test/**/*.sym
/test/**/*.stackdump
/.DS_store
**/.DS_store
**/*.dSYM
