[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
	autocrlf = input
[user]
	email = dave@brownsmeet.com
	name = David Brown
[push]
	default = simple
